@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');


.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.formInput {
    border: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    height: 30px;
    outline: none;
    width: 300px;
}


.subBtn {
    border: none;
    height: 30px;
    width: 60px;
    background-color: rgb(129, 205, 88);
    font-weight: bold;
    border-radius: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.subBtn:hover {
    background-color: rgb(43, 255, 0);
    transform: scale(1.1);
}


.counter {
    font-family: 'Josefin Sans', sans-serif;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datePicker {
  width: 160px;
}


@media screen and (max-width: 532px) {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .formInput {
        margin: 10px;
    }
    .subBtn {
        margin: auto;
    }
    .datePicker {
      margin: auto;
    }
}
